.modal-content{
    background-color: #EDFCF9 !important; 
    border-radius: 5px;

}

.modal-dialog {
    margin: 150px auto !important;
}

.form-label {
    margin-bottom: 0px !important;
}

.form-control {
    background-color: white;
    border: none !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.form-control:focus {
    outline: none !important;
}

.form-select {
    border: none !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

@media (max-width: 575px){
    .modal-content {
        margin:0 auto;
        width: 80% !important;
    }

}
